.factory {
    padding: 50px 0;
}

.factory__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 22px;
}

.factory__card img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.factory__card-title {
    color: rgb(51, 51, 51);
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
}

.factory__card-description {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
}

.factory h4 {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
}

.factory p {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
}

.factory ul {
    margin-bottom: 1rem;
}

.factory ul li {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
}

.factory .circle {
    color: #7adb7a;
}

.cooperation__link {
    display: inline-block;
    padding: 11px 20px 10px 20px;
    background: rgb(0, 132, 64);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin: 26px 0;
    transition: all 0.25s ease-in;
}

.cooperation__link:hover {
    background: #01a804;
}

.factory__numbers-bg {
    height: 380px;
    width: 100%;
    background: url("/src/assets/div.poster.png") no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.factory__numbers {
    display: flex;
    justify-content: space-between;
}

.factory__number {
    width: 24%;
    text-align: center;
}
.factory__number h3 {
    font-size: 40px;
}
.factory__number p {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

