.footer {
    background: rgb(12, 12, 12);
    padding: 20px 0 40px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav ul {
    display: flex;
    gap: 10px;
}

.footer__nav ul li a {
    color: rgb(0, 132, 64);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: left;
}

footer p {
    color: rgb(249, 249, 249);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 30px;
}